LexmarkServicesWebService/AssetManagementStatusWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="AssetManagementStatusWS" targetNamespace="http://dlexrwmis002.lex.lexmark.com/LXKAssetManagementStatusFromPortal.webServices:AssetManagementStatusWS" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" xmlns:tns="http://dlexrwmis002.lex.lexmark.com/LXKAssetManagementStatusFromPortal.webServices:AssetManagementStatusWS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://dlexrwmis002.lex.lexmark.com/LXKAssetManagementStatusFromPortal.webServices:AssetManagementStatusWS" xmlns:tns="http://dlexrwmis002.lex.lexmark.com/LXKAssetManagementStatusFromPortal.webServices:AssetManagementStatusWS" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <xsd:element name="processAssetManagementStatus" type="tns:processAssetManagementStatus"/>
          <xsd:element name="processAssetManagementStatusResponse" type="tns:processAssetManagementStatusResponse"/>
          <xsd:complexType name="processAssetManagementStatus">
            <xsd:sequence>
              <xsd:element name="AssetManagementStatusRequest" nillable="true" type="tns:AssetManagementStatus"/>
              <xsd:element minOccurs="0" name="debug" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="AssetManagementStatus">
            <xsd:sequence>
              <xsd:element name="AssetManagementStatus" nillable="true" type="tns:AssetManagementStatus2"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="AssetManagementStatus2">
            <xsd:sequence>
              <xsd:element name="DocumentMetaData" nillable="true" type="tns:DocumentAndTradingPartnerMetaData"/>
              <xsd:element name="AssetManagementStatusDetails" nillable="true" type="tns:AssetManagementStatusDetails"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="DocumentAndTradingPartnerMetaData">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="EnterpriseDocumentId" type="xsd:string"/>
              <xsd:element name="SourceSystem" type="xsd:string"/>
              <xsd:element name="BusinessProcess" type="xsd:string"/>
              <xsd:element minOccurs="0" name="SourceDocumentTrackingId" type="xsd:string"/>
              <xsd:element minOccurs="0" name="SourceCreationDateTime" type="xsd:dateTime"/>
              <xsd:element name="ObjectChangeActionType" type="tns:ObjectChangeActionType"/>
              <xsd:element name="IntegrationCreationDateTime" type="xsd:dateTime"/>
              <xsd:element name="IntegrationFrequency" type="tns:IntegrationFrequency"/>
              <xsd:element minOccurs="0" name="IntegrationResubmissionDateTime" type="xsd:dateTime"/>
              <xsd:element minOccurs="0" name="DocumentResubmissionAttemptNumber" type="xsd:string"/>
              <xsd:element minOccurs="0" name="LargeDocumentHandling" type="tns:LargeDocumentHandling"/>
              <xsd:element minOccurs="0" name="RelevantGeographies" type="tns:RelevantGeographies"/>
              <xsd:element name="TradingPartnerMetaData" nillable="true" type="tns:TradingPartnerMetaData"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:simpleType name="ObjectChangeActionType">
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
              <xsd:enumeration value="CHANGE"/>
              <xsd:enumeration value="DELETE"/>
              <xsd:enumeration value="NEW"/>
            </xsd:restriction>
          </xsd:simpleType>
          <xsd:simpleType name="IntegrationFrequency">
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
              <xsd:enumeration value="DailyBatch"/>
              <xsd:enumeration value="RealTime"/>
            </xsd:restriction>
          </xsd:simpleType>
          <xsd:complexType name="LargeDocumentHandling">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="StorageType" type="tns:StorageType"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:simpleType name="StorageType">
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
              <xsd:enumeration value="DB"/>
            </xsd:restriction>
          </xsd:simpleType>
          <xsd:complexType name="RelevantGeographies">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="Americas" type="tns:Americas"/>
              <xsd:element minOccurs="0" name="EMEA" type="tns:EMEA"/>
              <xsd:element minOccurs="0" name="APG" type="tns:APG"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:simpleType name="Americas">
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
              <xsd:enumeration value="NO"/>
              <xsd:enumeration value="YES"/>
            </xsd:restriction>
          </xsd:simpleType>
          <xsd:simpleType name="EMEA">
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
              <xsd:enumeration value="NO"/>
              <xsd:enumeration value="YES"/>
            </xsd:restriction>
          </xsd:simpleType>
          <xsd:simpleType name="APG">
            <xsd:restriction base="xsd:string">
              <xsd:whiteSpace value="preserve"/>
              <xsd:enumeration value="NO"/>
              <xsd:enumeration value="YES"/>
            </xsd:restriction>
          </xsd:simpleType>
          <xsd:complexType name="TradingPartnerMetaData">
            <xsd:sequence>
              <xsd:element name="SenderId" type="xsd:string"/>
              <xsd:element name="SenderName" type="xsd:string"/>
              <xsd:element minOccurs="0" name="OriginalPartnerId" type="xsd:string"/>
              <xsd:element minOccurs="0" name="OriginalPartnerName" type="xsd:string"/>
              <xsd:element minOccurs="0" name="ReceiverId" type="xsd:string"/>
              <xsd:element minOccurs="0" name="ReceiverName" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="AssetManagementStatusDetails">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="ServiceRequestNumber" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="ActivityID" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="AccountName" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="StoreFrontName" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="ServiceRequestStatusOverall" type="xsd:string"/>
              <xsd:element minOccurs="0" name="ServiceRequestStatusDetail" type="xsd:string"/>
              <xsd:element name="StatusDateTime" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="ReasonForStatus" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="EstimatedTimeOfArrivalDate" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="DeferredAppointmentDate" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="EstimatedCallbackDate" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="ShipmentTrackingNumber" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="ServiceProviderName" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="ServiceRequestType" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="RequestedService" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="CustomerReferenceNumber" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="ServicePartnerReferenceNumber" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="ProjectName" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="ProjectPhase" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="Comments" nillable="true" type="xsd:string"/>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="Attachments" nillable="true" type="tns:Attachments"/>
              <xsd:element name="AssetInformation" nillable="true" type="tns:AssetInformation"/>
              <xsd:element minOccurs="0" name="PrimaryContact" nillable="true" type="tns:PrimaryContact"/>
              <xsd:element minOccurs="0" name="SecondaryContact" nillable="true" type="tns:SecondaryContact"/>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="AdditionalContacts" nillable="true" type="tns:AdditionalContacts"/>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="AdditionalAddresses" nillable="true" type="tns:AdditionalAddresses"/>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="ActivityNotes" nillable="true" type="tns:ActivityNotes"/>
              <xsd:element minOccurs="0" name="DebriefDetails" nillable="true" type="tns:DebriefDetails"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="Attachments">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="AttachmentName" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="AttachmentLink" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="AssetInformation">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="AssetId" type="xsd:string"/>
              <xsd:element name="SerialNumber" type="xsd:string"/>
              <xsd:element minOccurs="0" name="AssetTag" type="xsd:string"/>
              <xsd:element minOccurs="0" name="DeviceTag" type="xsd:string"/>
              <xsd:element minOccurs="0" name="ProductModel" type="xsd:string"/>
              <xsd:element minOccurs="0" name="ProductNumber" type="xsd:string"/>
              <xsd:element minOccurs="0" name="ProductLine" type="xsd:string"/>
              <xsd:element minOccurs="0" name="MachineTypeModel" type="xsd:string"/>
              <xsd:element minOccurs="0" name="AssetType" type="xsd:string"/>
              <xsd:element minOccurs="0" name="AssetCostCenter" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="AssetDepartmentName" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="AssetDepartmentNumber" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="IPAddress" type="xsd:string"/>
              <xsd:element minOccurs="0" name="IPSubMask" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="IPGateway" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="IPV6" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="MACAddress" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="HostName" type="xsd:string"/>
              <xsd:element minOccurs="0" name="ComputerName" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="NetworkConnected" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="PortNumber" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="WiringClosetNumber" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="FaxConnected" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="FaxPortNumber" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="OperatingSystem" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="OperatingSystemVersion" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="Firmware" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="WorkingCondition" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="NetworkTopology" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="PrintServer" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="SpecialUsage" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="RelatedCustomerHierarchyLevel" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="InstallDate" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="CustomerAssetData1" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="CustomerAssetData2" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="CustomerAssetData3" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="InstalledAtAddress" nillable="true" type="tns:InstalledAtAddress"/>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="MeterReadInformation" nillable="true" type="tns:MeterReadInformation"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="InstalledAtAddress">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="AddressId" type="xsd:string"/>
              <xsd:element minOccurs="0" name="AddressName" type="xsd:string"/>
              <xsd:element name="AddressLine1" type="xsd:string"/>
              <xsd:element minOccurs="0" name="AddressLine2" type="xsd:string"/>
              <xsd:element minOccurs="0" name="HouseNumber" type="xsd:string"/>
              <xsd:element name="City" type="xsd:string"/>
              <xsd:element minOccurs="0" name="StateCode" type="xsd:string"/>
              <xsd:element minOccurs="0" name="Province" type="xsd:string"/>
              <xsd:element minOccurs="0" name="District" type="xsd:string"/>
              <xsd:element minOccurs="0" name="County" type="xsd:string"/>
              <xsd:element minOccurs="0" name="Region" type="xsd:string"/>
              <xsd:element minOccurs="0" name="Country" type="xsd:string"/>
              <xsd:element minOccurs="0" name="CountryCode" type="xsd:string"/>
              <xsd:element minOccurs="0" name="PostalCode" type="xsd:string"/>
              <xsd:element minOccurs="0" name="PhysicalLocation1" type="xsd:string"/>
              <xsd:element minOccurs="0" name="PhysicalLocation2" type="xsd:string"/>
              <xsd:element minOccurs="0" name="PhysicalLocation3" type="xsd:string"/>
              <xsd:element minOccurs="0" name="StateFullName" type="xsd:string"/>
              <xsd:element minOccurs="0" name="Latitude" type="xsd:string"/>
              <xsd:element minOccurs="0" name="Longitude" type="xsd:string"/>
              <xsd:element minOccurs="0" name="AddressCleansedFlag" type="xsd:string"/>
              <xsd:element minOccurs="0" name="AddressMessage" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="MeterReadInformation">
            <xsd:sequence>
              <xsd:element name="MeterType" nillable="true" type="xsd:string"/>
              <xsd:element name="MeterDateTime" nillable="true" type="xsd:string"/>
              <xsd:element name="MeterValue" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="PrimaryContact">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="ContactId" type="xsd:string"/>
              <xsd:element minOccurs="0" name="FirstName" type="xsd:string"/>
              <xsd:element minOccurs="0" name="LastName" type="xsd:string"/>
              <xsd:element minOccurs="0" name="Department" type="xsd:string"/>
              <xsd:element minOccurs="0" name="WorkPhone" type="xsd:string"/>
              <xsd:element minOccurs="0" name="AlternatePhone" type="xsd:string"/>
              <xsd:element minOccurs="0" name="FaxNumber" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="EmailAddress" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="SecondaryContact">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="ContactId" type="xsd:string"/>
              <xsd:element minOccurs="0" name="FirstName" type="xsd:string"/>
              <xsd:element minOccurs="0" name="LastName" type="xsd:string"/>
              <xsd:element minOccurs="0" name="Department" type="xsd:string"/>
              <xsd:element minOccurs="0" name="WorkPhone" type="xsd:string"/>
              <xsd:element minOccurs="0" name="AlternatePhone" type="xsd:string"/>
              <xsd:element minOccurs="0" name="FaxNumber" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="EmailAddress" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="AdditionalContacts">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="ContactId" type="xsd:string"/>
              <xsd:element minOccurs="0" name="FirstName" type="xsd:string"/>
              <xsd:element minOccurs="0" name="LastName" type="xsd:string"/>
              <xsd:element minOccurs="0" name="Department" type="xsd:string"/>
              <xsd:element minOccurs="0" name="WorkPhone" type="xsd:string"/>
              <xsd:element minOccurs="0" name="AlternatePhone" type="xsd:string"/>
              <xsd:element minOccurs="0" name="FaxNumber" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="EmailAddress" type="xsd:string"/>
              <xsd:element name="AddressId" nillable="true" type="xsd:string"/>
              <xsd:element name="ContactType" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="AdditionalAddresses">
            <xsd:sequence>
              <xsd:element name="AddressType" nillable="true" type="xsd:string"/>
              <xsd:element name="AddressDetails" nillable="true" type="tns:AddressDetails"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="AddressDetails">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="AddressId" type="xsd:string"/>
              <xsd:element minOccurs="0" name="AddressName" type="xsd:string"/>
              <xsd:element name="AddressLine1" type="xsd:string"/>
              <xsd:element minOccurs="0" name="AddressLine2" type="xsd:string"/>
              <xsd:element minOccurs="0" name="HouseNumber" type="xsd:string"/>
              <xsd:element name="City" type="xsd:string"/>
              <xsd:element minOccurs="0" name="StateCode" type="xsd:string"/>
              <xsd:element minOccurs="0" name="Province" type="xsd:string"/>
              <xsd:element minOccurs="0" name="District" type="xsd:string"/>
              <xsd:element minOccurs="0" name="County" type="xsd:string"/>
              <xsd:element minOccurs="0" name="Region" type="xsd:string"/>
              <xsd:element minOccurs="0" name="Country" type="xsd:string"/>
              <xsd:element minOccurs="0" name="CountryCode" type="xsd:string"/>
              <xsd:element minOccurs="0" name="PostalCode" type="xsd:string"/>
              <xsd:element minOccurs="0" name="PhysicalLocation1" type="xsd:string"/>
              <xsd:element minOccurs="0" name="PhysicalLocation2" type="xsd:string"/>
              <xsd:element minOccurs="0" name="PhysicalLocation3" type="xsd:string"/>
              <xsd:element minOccurs="0" name="StateFullName" type="xsd:string"/>
              <xsd:element minOccurs="0" name="Latitude" type="xsd:string"/>
              <xsd:element minOccurs="0" name="Longitude" type="xsd:string"/>
              <xsd:element minOccurs="0" name="AddressCleansedFlag" type="xsd:string"/>
              <xsd:element minOccurs="0" name="AddressMessage" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="ActivityNotes">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="NoteId" type="xsd:string"/>
              <xsd:element name="NoteDate" type="xsd:string"/>
              <xsd:element name="NoteAuthor" type="tns:NoteAuthor"/>
              <xsd:element name="NoteDetails" type="xsd:string"/>
              <xsd:element minOccurs="0" name="NoteUpdateFlag" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="NoteAuthor">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="ContactId" type="xsd:string"/>
              <xsd:element minOccurs="0" name="FirstName" type="xsd:string"/>
              <xsd:element minOccurs="0" name="LastName" type="xsd:string"/>
              <xsd:element minOccurs="0" name="EmailAddress" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="DebriefDetails">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="ActualStartDate" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="ActualEndDate" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="TechnicianName" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="TechnicianComments" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="TravelDistance" type="xsd:string"/>
              <xsd:element minOccurs="0" name="TravelDistanceUnitOfMeasure" type="xsd:string"/>
              <xsd:element minOccurs="0" name="TravelDuration" type="xsd:string"/>
              <xsd:element minOccurs="0" name="TravelDurationUnitOfMeasure" type="xsd:string"/>
              <xsd:element minOccurs="0" name="ResponseMetricUnitOfMeasure" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="AdditionalServiceRequiredFlag" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="AssetStoredDate" nillable="true" type="xsd:string"/>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="RecommendedPartsList" nillable="true" type="tns:RecommendedPartsList"/>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="AdditionalPartsList" nillable="true" type="tns:AdditionalPartsList"/>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="AdditionalExpenses" nillable="true" type="tns:AdditionalExpenses"/>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="PaymentRequestsList" nillable="true" type="tns:PaymentRequestsList"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="RecommendedPartsList">
            <xsd:sequence>
              <xsd:element name="PartNumber" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="PartDescription" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="UsedQuantity" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="NotUsedQuantity" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="DOAQuantity" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="AdditionalPartsList">
            <xsd:sequence>
              <xsd:element name="PartNumber" nillable="true" type="xsd:string"/>
              <xsd:element minOccurs="0" name="PartDescription" nillable="true" type="xsd:string"/>
              <xsd:element name="Quantity" nillable="true" type="xsd:string"/>
              <xsd:element name="PartDisposition" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="AdditionalExpenses">
            <xsd:sequence>
              <xsd:element name="Type" nillable="true" type="xsd:string"/>
              <xsd:element name="Description" nillable="true" type="xsd:string"/>
              <xsd:element name="UnitPrice" nillable="true" type="xsd:string"/>
              <xsd:element name="Quantity" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="PaymentRequestsList">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="PaymentRequestId" type="xsd:string"/>
              <xsd:element name="PaymentType" type="xsd:string"/>
              <xsd:element name="Quantity" type="xsd:string"/>
              <xsd:element name="UnitPrice" type="xsd:string"/>
              <xsd:element name="TotalAmount" type="xsd:string"/>
              <xsd:element name="Currency" type="xsd:string"/>
              <xsd:element name="Description" type="xsd:string"/>
              <xsd:element minOccurs="0" name="PaymentRequestUpdateFlag" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="processAssetManagementStatusResponse">
            <xsd:sequence>
              <xsd:element name="response" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        	</xsd:schema>
  </wsdl:types>
  <wsdl:message name="AssetManagementStatusWS_PortType_processAssetManagementStatusResponse">
    <wsdl:part name="response" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AssetManagementStatusWS_PortType_processAssetManagementStatus">
    <wsdl:part name="AssetManagementStatusRequest" type="tns:AssetManagementStatus">
    </wsdl:part>
    <wsdl:part name="debug" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AssetManagementStatusWS_PortType">
    <wsdl:operation name="processAssetManagementStatus">
      <wsdl:input message="tns:AssetManagementStatusWS_PortType_processAssetManagementStatus">
    </wsdl:input>
      <wsdl:output message="tns:AssetManagementStatusWS_PortType_processAssetManagementStatusResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LXKAssetManagementStatusFromPortal_webServices_AssetManagementStatusWS_Binder" type="tns:AssetManagementStatusWS_PortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="processAssetManagementStatus">
      <soap:operation soapAction="LXKAssetManagementStatusFromPortal_webServices_AssetManagementStatusWS_Binder_processAssetManagementStatus" style="rpc"/>
      <wsdl:input>
        <soap:body parts="AssetManagementStatusRequest debug" use="literal" namespace="http://dlexrwmis002.lex.lexmark.com/LXKAssetManagementStatusFromPortal.webServices:AssetManagementStatusWS"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="response" use="literal" namespace="http://dlexrwmis002.lex.lexmark.com/LXKAssetManagementStatusFromPortal.webServices:AssetManagementStatusWS"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LXKAssetManagementStatusFromPortal.webServices.AssetManagementStatusWS">
    <wsdl:port name="LXKAssetManagementStatusFromPortal_webServices_AssetManagementStatusWS_Port" binding="tns:LXKAssetManagementStatusFromPortal_webServices_AssetManagementStatusWS_Binder">
      <soap:address location="http://dlexrwmis002.lex.lexmark.com:8700/ws/LXKAssetManagementStatusFromPortal.webServices.AssetManagementStatusWS/LXKAssetManagementStatusFromPortal_webServices_AssetManagementStatusWS_Port"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
