LexmarkServicesWebService/salesOrderWS_081712.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="salesOrderWS" targetNamespace="http://dlxkswmis1.lex.lexmark.com/SalesOrder/salesOrderWS" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soapjms="http://www.w3.org/2008/07/soap/bindings/JMS/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://dlxkswmis1.lex.lexmark.com/SalesOrder/salesOrderWS" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://dlxkswmis1.lex.lexmark.com/SalesOrder/salesOrderWS" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://dlxkswmis1.lex.lexmark.com/SalesOrder/salesOrderWS">
          <xsd:complexType name="processOrderStatus">
            <xsd:sequence>
              <xsd:element name="debug"  type="xsd:string" minOccurs="0"/>
              <xsd:element name="SalesOrderStatusWSInput"  type="tns:SalesOrderStatusWSInput"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="SalesOrderStatusWSInput">
            <xsd:sequence>
              <xsd:element name="SalesOrderStatusWSInput" type="tns:SalesOrderStatusWSInput2"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="SalesOrderStatusWSInput2">
            <xsd:sequence>
              <xsd:element name="DocumentMetaData" type="tns:DocumentMetaData" minOccurs="0"/>
              <xsd:element name="SalesOrderStatusData" type="tns:SalesOrderStatusData" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="DocumentMetaData">
            <xsd:sequence>
              <xsd:element name="SenderId" type="xsd:string"/>
              <xsd:element name="SenderName" type="xsd:string"/>
              <xsd:element name="OriginalPartnerId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OriginalPartnerName" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReceiverId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ReceiverName" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="SalesOrderStatusData">
            <xsd:sequence>
              <xsd:element name="OrderNumber" type="xsd:string"/>
              <xsd:element name="SourceReferenceNumber"  type="xsd:string" minOccurs="0"/>
              <xsd:element name="VendorNumber" type="xsd:string" minOccurs="0"/>
              <xsd:element name="VendorOrderNumber"  type="xsd:string" minOccurs="0"/>
              <xsd:element name="LineDetails" type="tns:LineDetails" maxOccurs="unbounded"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="LineDetails">
            <xsd:sequence>
              <xsd:element name="LineNumber" type="xsd:string"/>
              <xsd:element name="LexmarkPartNumber" type="xsd:string" minOccurs="0"/>
              <xsd:element name="Status"  type="xsd:string" minOccurs="0"/>
              <xsd:element name="StatusDate"  type="xsd:string" minOccurs="0"/>
              <xsd:element name="ShippedQuantity" type="tns:ShippedQuantity" minOccurs="0"/>
              <xsd:element name="OrderedQuantity" type="tns:OrderedQuantity" minOccurs="0"/>
              <xsd:element name="BackOrderedQuantity" type="tns:BackOrderedQuantity" minOccurs="0"/>
              <xsd:element name="CarrierId"  type="xsd:string" minOccurs="0"/>
              <xsd:element name="TrackingNumber"  type="xsd:string" minOccurs="0"/>
              <xsd:element name="CustomerRequestedDate"  type="xsd:string" minOccurs="0"/>
              <xsd:element name="ExpectedShipDate"  type="xsd:string" minOccurs="0"/>
              <xsd:element name="ActualShipDate"  type="xsd:string" minOccurs="0"/>
              <xsd:element name="DeliveredDate"  type="xsd:string" minOccurs="0"/>
              <xsd:element name="ShipmentMethod"  type="xsd:string" minOccurs="0"/>
              <xsd:element name="ShipmentLineReferenceNumber"  type="xsd:string" minOccurs="0"/>
              <xsd:element name="SerialNumbers" type="tns:SerialNumbers" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="ShippedQuantity">
            <xsd:sequence>
              <xsd:element name="ShippedQuantityUnitOfMeasure" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ShippedQuantity"  type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="OrderedQuantity">
            <xsd:sequence>
              <xsd:element name="OrderedQuantityUnitOfMeasure" type="xsd:string" minOccurs="0"/>
              <xsd:element name="OrderedQuantity"  type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="BackOrderedQuantity">
            <xsd:sequence>
              <xsd:element name="BackOrderedQuantityUnitOfMeasure" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BackOrderedQuantity"  type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="SerialNumbers">
            <xsd:sequence>
              <xsd:element name="SerialNumber"  type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="processOrderStatusResponse">
            <xsd:sequence>
            </xsd:sequence>
          </xsd:complexType>
        			<xsd:element name="processOrderStatus" type="tns:processOrderStatus"/>
			<xsd:element name="processOrderStatusResponse" type="tns:processOrderStatusResponse"/>
	</xsd:schema>
  </wsdl:types>
  <wsdl:message name="salesOrderWS_PortType_processOrderStatus">
    <wsdl:part name="parameters" element="tns:processOrderStatus">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="salesOrderWS_PortType_processOrderStatusResponse">
    <wsdl:part name="parameters" element="tns:processOrderStatusResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="salesOrderWS_PortType">
    <wsdl:operation name="processOrderStatus">
      <wsdl:input message="tns:salesOrderWS_PortType_processOrderStatus">
    </wsdl:input>
      <wsdl:output message="tns:salesOrderWS_PortType_processOrderStatusResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SalesOrder_salesOrderWS_Binder" type="tns:salesOrderWS_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="processOrderStatus">
      <soap:operation soapAction="SalesOrder_salesOrderWS_Binder_processOrderStatus" style="document"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="salesOrderWS">
    <wsdl:port name="SalesOrder_salesOrderWS_Port" binding="tns:SalesOrder_salesOrderWS_Binder">
      <soap:address location="http://tlxkswmis5.lex.lexmark.com:8800/ws/SalesOrder:salesOrderWS"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
